<div class="layout">
    <nav class="sidebar">
      <ul>
        <li><a routerLink="/dashboard" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/paciente" routerLinkActive="active">Pacientes</a></li>
        <li><a routerLink="/citas" routerLinkActive="active">Citas</a></li>
        <li><a routerLink="/trabajadores" routerLinkActive="active">Trabajadores</a></li>
        <li><a routerLink="/graficas" routerLinkActive="active">Gráficas</a></li>
      </ul>
    </nav>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
  